
.main-card-name {
   
    max-width: calc(100vw);
    height: 100%;
    margin:0;
 
    margin-top: 1rem;
    margin-left: 1rem;
    display:grid;
    grid-template-columns:repeat(6, auto);
    justify-content: center;
    align-content: center;
     gap:1rem;



.book-card-name{
    margin:0 ;
    padding: 0;
   width: 200px;
   height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
           background-color: white;
    .book-card-img-div {
        margin: 0;
        padding: 0;
        background-color:mediumaquamarine;
         
        width: 100%;
       height: 100%;
        border: solid 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.1rem
        
    
       
    
    
    }
 
    .search-image {
        width: 80%;
        height: 80%;
     }
    
}

}