$breakpoint-tablet: 768px;
.sidebar{
    margin:0;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 220px;
    background-color: white;
    
    .sidebar-logo {
    width: 100%;
     height: 2.7rem;
     background-color:  rgb(102,205,170);
     display: flex;
     align-items: center;
     justify-content: center;
    }

   .sidebar-menu ul {
     margin-top: 2rem;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     padding: 0;
         
  
        
        
    
    }

    li{
       
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin-bottom: 1rem;
        height: 2rem;
        background-color:	rgb(224,224,224);
        width: 100%;

   
       
       
    }
    @media (max-width: $breakpoint-tablet){
      display: none;
         width: 180px;
        .sidebar-logo{
            height: 2rem;
        }
        .sidebar-menu li{
            height: 1.8rem;
        }
      
    }
}